<div class="well">
  <%= link_to "Quack", new_quack_path %>
</div>
<div class="well">
  <% if @quacks.any? %>
    <% @quacks.each do |quack| %>
      <%= quack.body %>
    <% end %>
  <% else %>
    Get quacking!
  <% end %>
</div>
