<div class="row">
  <div class="col-sm-2">
    <% if current_user %>
      <%= link_to "Quack", new_quack_path, id: 'new_link', remote: true, class: "btn btn-success" %>
    <% else %>
      <h5>You must login in order to quack.</h5>
    <% end %>
  </div>
  <div class="col-sm-8" id="quack-list">
    <div>
      <% if @quacks.any? %>
        <% @quacks.each do |quack| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><%= quack.user.email %></h3>
            </div>
            <div class="panel-body">
            <%= quack.body %>
            </div>
          </div>
        <% end %>
      <% else %>
        Get quacking!
      <% end %>
    </div>
  </div>
  <div class="col-sm-2"></div>

</div>
